rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() { return request.auth != null; }
    function role() { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role; }
    function isAdmin() { return isAuth() && role() == 'admin'; }
    function isPengawas() { return isAuth() && role() == 'pengawas'; }
    function isOperator() { return isAuth() && role() == 'operator'; }
    function userNpsn() { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.npsn; }

    // Users
    match /users/{uid} {
      allow read: if isAuth();
      allow write: if isAdmin();
      allow update: if isAuth() && request.auth.uid == uid
                    && request.resource.data.role == resource.data.role; // operator tidak bisa ubah role sendiri
    }

    // Penilaian
    match /penilaian/{docId} {
      // Admin & pengawas: baca semua
      allow read: if isAdmin() || isPengawas();
      // Operator: hanya baca data yang NPSN-nya cocok
      allow read: if isOperator() && resource.data.madrasah.npsn == userNpsn();
      // Publik (tanpa login) untuk halaman bukti sekolah
      allow read: if true;
      // Create & update: admin dan pengawas
      allow create, update: if isAdmin() || isPengawas();
      // Delete: hanya admin
      allow delete: if isAdmin();
    }
  }
}
